* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #3a4f53;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;

  justify-content: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1vmin;
  border: none;
  box-shadow: 0 0 1rem rgb(0, 0, 0.3);
  font-size: 7vmin;
  color: #d90429;
  background-color: #e09f3e;
}
#reset{
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #e29578;
  color: #d90429;
  border-radius: 1rem;
  border: none;
}
.msg-Container{
 height: 20vmin;
}
#new-Btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #e29578;
  color: #d90429;
  border-radius: 1rem;
  border: none;
}
#msg{
  color: #d90429;
  font-size: 5vmin;
}
.hide{
  display: none;
}